<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find seed_r7_description)/typef/noid.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  
  <node pkg="tf" type="static_transform_publisher" name="seed_r7_tf_broadcaster" args="0.00 0.0 0.10 0 0 0 /base_link /imu_link 100" />

</launch>
