<?xml version="1.0"?>
<launch>

  <!-- parameters when using models in official package -->
  <arg name="robot_model"         default="typef"/>
  <arg name="moveit_config_pkg"   default="$(find seed_r7_moveit_config)/../seed_r7_$(arg robot_model)_moveit_config"/>
  <!-- <arg name="init_position_x"     default="0"/> -->
  <!-- <arg name="init_position_y"     default="0"/> -->
  <arg name="x_pos" default="0.038"/>
  <arg name="y_pos" default="0.016"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="r_ori" default="0.0"/>
  <arg name="p_ori" default="0.0"/>
  <arg name="y_ori" default="0.0"/>

  <!-- this launch provides almost the same robot API in gazebo world
       as seed_r7_bringup/seed_r7_bringup.launch -->
  <!-- these are the arguments you can pass this launch file, for example PAUSED:=true -->
  <arg name="GUI"      default="true"/>
  <arg name="HEADLESS" default="false"/>
  <arg name="PAUSED"   default="false"/>
  <arg name="WORLD_FILE" default="$(find seed_r7_gazebo)/worlds/seed_aruco.world"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="debug" default="false"/>

<!--
  <env name="GAZEBO_MODEL_PATH" value="$(find aero_gazebo)/gazebo_models" />
-->

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(arg WORLD_FILE)"/>
    <arg name="gui"    value="$(arg GUI)" />
    <arg name="paused" value="$(arg PAUSED)"/>
    <arg name="headless" value="$(arg HEADLESS)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="debug"  value="$(arg debug)" />
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro 
              $(find seed_r7_description)/$(arg robot_model)/noid-mover.urdf.xacro --inorder"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        respawn="false" output="screen"
        args="-x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg r_ori) -P $(arg p_ori) -Y $(arg y_ori) -urdf
              -model seed_r7 -param robot_description"/>

  <node name="seed_r7_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
